:root{
	--background-black: rgb(25, 25, 25);
	--background-accent: rgb(5, 176, 147);
	--background-grey: rgba(25, 25, 25, 0.05);
	--black-075: rgba(25,25,25,0.75);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: rgb(237, 237, 237);
}

header{
	background: var(--background-black);
}
.header__container{
	max-width: 1296px;
	margin: auto;
	padding: 32px 0;
	display: flex;
	justify-content: space-between;
}
header ul{
	display: flex;
	gap:30px;
}

header li{
	font-size: 16px;
	font-weight: 600;
	color: white;
}
header li:first-child{
	list-style: none;
}

header a{
	text-decoration: none;
	color: white;
}

main{
	max-width: 1296px;
	margin: 0 auto;
}


.slider{
	display:flex;
	gap:30px;
	margin: 50px auto;
	font-size: 16px;
	font-weight: 600;
}
.slider__items .slider__item{
	display: flex;
	align-items: center;
	background: var(--background-grey);
	border-radius: 8px;
	padding: 12px 16px;
	gap:20px;
}
.slider__items{
	display: flex;
	flex-direction: column;
	gap:20px;
	width: 100%;
}

.poster{
	padding: 100px 0;
}
.poster__title{
	font-size: 48px;
	font-weight: 700;
	line-height: 140%;
	letter-spacing: 0;
}
.poster__header{
	display: flex;
	justify-content: space-between;
}
.poster__filter-title{
	font-size: 24px;
	font-weight: 700;
}
.poster__filter-img{
	width: 35px;
	height: 35px;
}
.poster__filter{
	display: flex;
	align-items: center;
	gap: 30px;
}


.poster__main{
	display: flex;
	flex-direction: column;
	gap:30px;
	margin-top: 100px;
}
.poster__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--background-grey);
	padding: 32px 60px;
	border-radius: 16px;
}
.poster__item time{
	text-align: center;
}
.poster__day{
	font-size: 64px;
	font-weight: 700;
	color: var(--black-075);
}
.poster__month{
	font-size: 32px;
	font-weight: 700;
	color: var(--black-075);
}
.poster-item__title{
	font-size: 32px;
	font-weight: 700;
}
.poster-item__subtitle{
	font-size: 16px;
	font-weight: 400;
	color: var(--black-075);
}
.poster__options{
	color: var(--black-075);
	display: flex;
	gap: 28px;
	font-size: 16px;
	align-items: center;
}
.poster-item__button{
	background: var(--background-accent);
	border-radius: 50px;
	padding: 15px 30px;
	color: white;
	font-size: 16px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	width: 200px;
	white-space: nowrap;
}
.poster__info{
	display: flex;
	flex-direction: column;
	gap: 28px;
	width: 400px;
}
.poster__img{
	max-width: 300px;
}


.news__items{
	display: flex;
	gap: 24px;
}
.news h2{
	font-size: 48px;
	font-weight: 700;
}
.news{
	display: inline-block;
}
.news__item{
	display: flex;
	flex-direction: column;
	gap:24px;
	width: 306px;
	height: 395px;
}
.news__item h3{
	font-size: 24px;
	font-weight: 700;
}
.news__item h6{
	font-size: 16px;
	color: var(--black-075);
}


.calendar{
	display: inline-block;
	margin-left: 10%;
}
.calendar__image{
	position: relative;
}
.calendar__image figcaption{
	position: absolute;
	left: 24px;
	bottom: 24px;

	font-size: 32px;
	font-weight: 700;
	color: white;
}

.calendar__main{
	padding: 24px;
	display: flex;
	justify-content: space-between;
	background-color: var(--background-grey);
	border-radius: 0 0 12px 12px;
}
.calendar__day{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 4px;
	grid-row-gap: 4px;
}
.calendar__day li{
	list-style: none;
	background: rgba(25, 25, 25, 0.3);
	padding: 6px 10px;
	text-align: center;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.calendar__day li.calendar__active{
	background: var(--background-accent);
}
.calendar__month{
	color: rgb(25, 25, 25);
	font-size: 32px;
	font-weight: 700;
	display: block;
}

.controll__prev, .controll__next{
	padding: 10px 15px;
	background: var(--background-accent);
	font-size: 20px;
	font-weight: 700;
	border-radius: 8px;
	border: none; 
	color: white;
	margin-top: 100%;
}