
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');



:root{
	--color-1: rgb(188, 108, 37);
	--color-2: rgb(221, 161, 94);
	--color-3: rgb(254, 250, 224);
	--color-4: rgb(40, 54, 24);
	--color-5: rgb(96, 108, 56);
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	font-family: "LXGW WenKai Mono TC", monospace;
	font-weight: 400;
	font-style: normal;
}
textarea{
	resize: none;
	border-radius: 10px;
	border: 1px solid var(--color-5);

	padding: 10px;

	font-size: 20px;
}
input[type=email]{
	border-radius: 10px;
	border: 1px solid var(--color-5);

	padding: 10px;

	font-size: 20px;
}
input[type=submit]{
	padding:10px 20px;

	font-size: 25px;
	text-transform: uppercase;

	border:1px solid black;
	border-radius: 10px;

	width: 50%;
	margin: 0 auto;
	
	background: var(--color-5);

	cursor: pointer;

	transition: box-shadow .3s ease;
}
button{
	padding:10px 20px;

	font-size: 25px;
	text-transform: uppercase;
	font-weight: 700;
	color:white;

	border:1px solid black;
	border-radius: 10px;

	
	
	background: var(--color-4);

	cursor: pointer;

	transition: box-shadow .3s ease;
}
button:hover{
	box-shadow: 0 0 40px rgba(225,225,225,.8);
}
.text-center{
	text-align: center;
}
.title{
	font-size: 100px;
}
.bold{
	font-weight: 700;
}
.margin-25{
	margin-top: 25px;
}

header{
	width: 100%;
	padding: 10px;

	background: var(--color-1);
}
.hero{
	height: calc(100vh - 48px);
	max-width: 100vw;

	background: var(--color-2);
	
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 0 20px;	
}
.hero__title{
	font-weight: 700;
	font-size: 100px;
	line-height: 100%;
	letter-spacing: -2%;
	color:var(--color-4);
}
.hero__subtitle{
	font-size: 40px;
	line-height: 115%;
	letter-spacing: 0%;
	color:var(--color-3);
	margin-bottom: 25px;
}


.about{
	padding: 0 20px;
	padding-top:150px;

	background: var(--color-4);

	color: var(--color-3)
}
.about__title{
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -2%;
	margin-bottom: 100px;
}
.about__content__text{
	font-size:20px;
	line-height: 140%;
	letter-spacing: 0;
}
.about__subtitle{
	font-size: 40px;
	line-height: 115%;
	margin-top: 25px;
}
.about__card__container img{
	width: 50px;
}	


.about__card__container{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;

	gap:2rem;

	text-align: center;
	font-size: 100px;
}
.about__card__container img{
	width: 200px;
}
.about__subtitle__skill{
	font-size: 40px;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: -2%;

	text-align: center;
}
.about__content__container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.about__content__container p{
	margin: auto;
	font-size: 20px;
}

.form{
	max-width: 100vw;

	background: var(--color-3);

	padding: 20px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
}
.form__title{
	grid-row: 1;
	grid-column: 1/3;

	text-align: center;
	font-size: 40px;
	font-weight: 700;

	margin-bottom: 25px;
}
.form img{
	object-fit: contain;
	width: 50%;
	margin: auto;

	grid-row: 2;
}
form{
	display: flex;
	flex-direction: column;

	width: 100%;

	gap:20px;
	margin: auto;

	grid-row: 2;
}

footer{
	max-width: 100vw;
	min-height: 250px;

	background: var(--color-5);

	text-align: center;
}

@media screen and (max-width: 1023px){
	.hero__title{
		font-size: 70px;
	}
	.hero__subtitle{
		font-size: 30px;
	}	
}


@media screen and (max-width: 767px){
	.hero{
		padding: 0;
	}
	.hero__title{
		font-size: 50px;
	}
	.hero__subtitle{
		font-size:25px;
	}

	.about{
		padding: 10px 0;
	}
	.about__title{
		margin-bottom: 10px;
	}
	.about__content__container{
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}
	.about__content__container p:nth-child(3){
		grid-row: 4;
	}


	.form img{
		display: none;
	}

	.form{
		padding: 30px 0;
		grid-template-columns: 1fr;
	}
}